
.navbarToggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  :hover {
    cursor: pointer;
  }

}

.link{
  text-decoration: none !important;
  color: rgba($color: #000000, $alpha: 0.87);
}