.registerForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  .socialContainer {
    display: flex;
    gap: 8px;
    margin: 20px 0;
    .socialButton {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
      overflow: hidden;
      cursor: pointer;
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
  .signupButton {
    border-radius: 20px;
    border: 1px solid #551A8B;
    background-color: #551A8B;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in; 
    cursor: pointer;
  }
}
