.notificationContainer {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  border: 1px solid #e6e6e6;
  width: 100%;
  border-radius: 20px;
  display: flex;
  .listNotification {
    flex: 1.2;
    border-right: 1px solid #e6e6e6;
  }
  .detailNotification {
    flex: 3;
  }
}