@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cimigo-blue: #1f61a9;
  --cimigo-theme-blue: #1C5FA7;
  --cimigo-blue-light: #73b1f4;
  --cimigo-green: #a6cc17;
  --cimigo-green-dark: #7c9911;
  --cimigo-black: #333333;
  --cimigo-gray: #c2baad;
  --cimigo-danger: #af1c10;
  --cimigo-blue-light-1: #3b87db;
  --cimigo-blue-light-2: #7cafe7;
  --cimigo-blue-light-3: #bed7f3;
  --cimigo-blue-light-4: #e8f1fb;
  --cimigo-blue-light-5: #f6f9fc;
  --cimigo-blue-dark-1: #17497f;
  --cimigo-blue-dark-2: #103055;
  --cimigo-blue-dark-3: #08182a;
  --cimigo-green-light-2: #d9f180;
  --cimigo-green-light-4: #f0f9cc;
  --cimigo-green-dark-1: #7c9911;
  --cimigo-green-dark-2: #53660c;
  --cimigo-green-dark-3: #293306;
  --cimigo-theme-light-on-surface: #1a1c1e;
  --gray-02: #373d3f;
  --gray-1: #FBFBFB;
  --gray-2: #F9F9F9;
  --gray-5: #f4f4f4;
  --gray-6: #A7AFB2;
  --gray-10: #e8e8e8;
  --gray-20: #d2d2d2;
  --gray-30: #bbbbbb;
  --gray-40: #a4a4a4;
  --gray-50: #8d8d8d;
  --gray-60: #767676;
  --gray-80: #494949;
  --gray-90: #333333;
  --ghost-white: #fafaff;
  --eerie-black: #1c1c1c;
  --eerie-black-00: #000000;
  --eerie-black-5: #1c1c1c0d;
  --eerie-black-20: #1c1c1c33;
  --eerie-black-30:#1b1a1e;
  --eerie-black-40: #1c1c1c66;
  --eerie-black-65: #1c1c1ca6;
  --white: #ffffff;
  --eerie-black-90: rgba(28, 28, 28, 0.9);
  --orange-light: #f8e8bf;
  --orange-dark: #753e00;
  --cultured-gray: #eef0f2;
  --red-error: #af1c10;
  --warning: #f2bb2e;
  --white: #ffffff;
  --warning-dark: #9b6907;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    
    --gray-02: #373d3f;
    --gray-1: #FBFBFB;
    --gray-2: #F9F9F9;
    --gray-5: #f4f4f4;
    --gray-6: #A7AFB2;
    --gray-10: #e8e8e8;
    --gray-20: #d2d2d2;
    --gray-30: #bbbbbb;
    --gray-40: #a4a4a4;
    --gray-50: #8d8d8d;
    --gray-60: #767676;
    --gray-80: #494949;
    --gray-90: #333333;
    --ghost-white: #fafaff;
    --eerie-black: #1c1c1c;
    --eerie-black-00: #000000;
    --eerie-black-5: #1c1c1c0d;
    --eerie-black-20: #1c1c1c33;
    --eerie-black-30:#1b1a1e;
    --eerie-black-40: #1c1c1c66;
    --eerie-black-65: #1c1c1ca6;
    --white: #ffffff;
    --eerie-black-90: rgba(28, 28, 28, 0.9);
    --orange-light: #f8e8bf;
    --orange-dark: #753e00;
    --cultured-gray: #eef0f2;
    --red-error: #af1c10;
    --warning: #f2bb2e;
    --white: #ffffff;
    --warning-dark: #9b6907;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body *{
  font-family: inherit !important;
}